<!DOCTYPE html>
<html>
  <head>
    <title>What Should I Play?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <style>
    .navbar {
      display: flex;
      justify-content:space-around;
    }

  body {
    display: flex;
    flex-direction: column;
    
  }

  </style>


  <body>

    <div class = "navbar">
      <div><a href="/">Select a year</a></div>
      <% @random_year = rand(1972..2023) %>
      <div><a href="/search/<%= @random_year %> ">Random</a></div>
      <div><a href="https://www.giantbomb.com/" target="_blank">All info pulled via Giant Bomb's API. Thanks!</a></div>
    </div>



    <%= yield %>
  </body>
</html>
