<!DOCTYPE html>
<html>
  <head>
    <title>What Should I Play?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Dosis|Titillium+Web" rel="stylesheet">

    <style>
    
      .navbar {
        display: flex;
        justify-content:space-around;
        font-family: 'Titillium Web', sans-serif;
        font-size: 16px;
      }

      .link a {
        text-decoration: none;
      }

      body {
        
      }
  
       h1 {
        display: flex;
        justify-content: center;
        font-family: 'Dosis', sans-serif;
        font-size: 48px;
      }

      p {
        display: flex;
        justify-content: center;
        font-family: 'Titillium Web', sans-serif;
        font-size: 16px;
      }

      form {
        display: flex;
        justify-content: center;
        font-family: 'Titillium Web', sans-serif;
        font-size: 16px;
        padding-top: 20px;
      }

      img {
        display: block;
        margin: 0 auto;
        width: 15%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .background--custom {
        background-image: linear-gradient(90deg, #5BCEFA, #FFFFFF, #F5A9B8);
        background-size: 300% 300%;
        animation: gradient 5s alternate infinite;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
        @keyframes gradient {
        0% {
          background-position: 0%;
        }
        100% {
          background-position: 100%;
        }
      }

    .info {
      background-color: #ffffff;
      opacity: .8;
      padding-top: 10px;
      padding-bottom: 10px;
      border: solid black;
      border-radius: 100px;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }

    </style>
  </head>

  


  <body>
    <div class="background--custom">

      <div class = "navbar">
        <div class="link"><a href="/">Select a year</a></div>
        <% @random_year = rand(1972..2023) %>
        <div class="link"><a href="/search/<%= @random_year %> ">Random</a></div>
        <div class="link"><a href="https://www.giantbomb.com/" target="_blank">All info pulled via Giant Bomb's API. Thanks!</a></div>
      </div>

      <%= yield %>
    
    </div>
  </body>
</html>
