<h1>What should I play???</h1>

<div class="info">
  <div><p>If you wanna play something but aren't sure what, just drop a random year between 1972 and 2023 in the form below!</p></div>
  <div><p>I can't guarantee that it'll select something good, or that it'll be available anywhere, but hey...better than nothin, yeah?</p></div>
</div>

<form action="/search">

  <label for="input_year">Pick a release year!</label>
  <input id="input_year" type="text" name="year">
  <button>Search</button>

</form>
