<h1>What should I play??? note for me: 1972 is earliest year, 2023 is latest year</h1>

<form action="/search">

  <label for="input_year">Pick a release year!</label>
  <input id="input_year" type="text" name="year">
  <button>Search</button>

</form>
